:root {
  --plyr-color-main: #1eb854;
  --plyr-video-background: #000;
}

.plyr {
  height: 100%;
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.plyr video {
  object-fit: contain;
  height: 100%;
}

.plyr--video .plyr__controls {
  padding-top: 15px;
  padding-bottom: 15px;
}

.plyr--video .plyr__control--overlaid {
  background: var(--plyr-color-main);
}

.plyr--video .plyr__control--overlaid:hover {
  background: var(--plyr-color-main);
  opacity: 0.9;
}

.plyr--full-ui input[type=range] {
  color: var(--plyr-color-main);
}

.plyr__control--overlaid {
  padding: 20px;
}

.plyr__control--overlaid svg {
  width: 32px;
  height: 32px;
} 